.sidebar {
    width: 300px;
    --bs-link-hover-color: #fff;
    --bs-link-color: #838fb9;
    overflow: hidden;
    transition: all 0.5s;
    position: fixed;
}

.navlink:hover {
    color: var(--bs-link-hover-color);
}

.hide {
    width: 0;
    padding: 0 !important;
}